body, main, main div, ul, #Top div, nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#pag, #pag2{
    background-color: #a8c4d8;
    ;
    position: static;
    min-height: 100vh;
}
#pag2{
    width: 100%;
    background-image: url("../Imgs/bgcalc.jpg");
}
#bcalc{
    width: 100%;
}
body{
    width: 70%;
    margin: auto;
    background-color: #5e8ba7;
}
nav{
    background-color: #a8c4d8;
    flex-direction: row;
    padding: 7px;
}
#rotas{
    width: 100%;
}
#rotas ul{
  display: flex;
  justify-content: space-around;
}
ul li a{
    text-decoration: none;
    color: navy;
    font-size: 120%;
}
nav img{
  width: 150px;
  border-right: 3px solid navy;
}
#Top{
    width: 100%;
    background-image: url(../Imgs/Ocean2.jpg);
    background-size: cover;
    background-position-y: 50%;
    position: static;
    height: 200px; 
}
#TopIntro{
    position: static;
    margin-left: 2%;
    margin-top: 2%;

    height: 150px;
    border: 2px rgb(226, 217, 190) solid;
}
#Top #TopIntro div{
    position: absolute;
    height: 150px;
    border: 2px rgb(226, 217, 190) solid;
    margin-left: 2.5%;
    margin-top: 1%;
    width: 31.5%;
}
#Top #TopIntro div p{
    margin-left: 5%;
    margin-right: 8%;
    text-align: center;
    color: navy;
    font-size: 125%;
}
#Top #CalcPropaganda{
    backdrop-filter: blur(1px);
    color: navy;
    position: absolute;
    left: 63.4%;
    margin-top: 1.4%;
    width: 20%;
    height: 25.7%;
    font-size: 70%;
    border: 2px rgb(226, 217, 190) solid;
}
#CalcPropaganda a{
    color: navy;
    background-color: rgb(226, 217, 190);
    border-radius: 7px;
    padding: 2px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#Intro div{
    padding: 3% 3% 1% 3%;
    color: navy;
    height: 260px;
    margin-top: 10px;
    font-size: 92%;
}
#Intro div p{
    color: #306b89;
    font-size: 120%;
    text-align: justify;
}
#Top{
    display: flex;
    justify-content: normal;
    flex-direction: row;
}
#Top div{
    width: 45%;
    align-items: center;
}
#Intro{
    display: flex;
    flex-direction: row;
}
#Intro div{
    width: 32%;
}
ul{
    list-style: none;
    align-items: normal;
    flex-direction: row;
}
#MiddleBox{
    display: flexbox;
    border-right: 3px navy solid;
    border-left: 3px navy solid;
    border-radius: 2px;
}
#Calculator{
    background-color: rgb(231, 240, 255);
    display: box;
    box-shadow: -4px 5px 0px 8px rgb(110, 163, 255);
    border-radius: 2px;
    width: 30%;
    height: 400px;
    margin-bottom: 2%;
    padding-top: 30px;
}
span{
    height: 80px;
    width: 100%;
    margin-bottom: 5%;

    background-color: rgb(65, 65, 100);
}
input{
    background-color: rgb(188, 213, 255);
    border: 0px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}
.label{
    color: rgb(72, 108, 170);
}
#Exit{
    margin-top: 0px;
    background-color: rgb(188, 213, 255);
    border-radius: 15px;
    height: 15px;
    width: 170px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}